// Place all the styles related to the flocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#flock canvas { border: 1px solid black; }
#details p { margin: 0em; }
#nav { margin: 0.5em 0 0.5em 0 ;}
