// Place all the styles related to the flocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#flockwrap { position: absolute; top: 0; left: 0; }
#flock { position: relative; margin: 0em; padding:0em; }
#flock canvas { 
    position: absolute; top: 0; left: 0; 
    clear: left ; 
    display: block; 
    cursor: crosshair;
}
#edit { 
  position: relative ; top: 40; left: 40; 
    opacity: 0.5;
}
#details p { margin: 0em; }
#nav { margin: 0.5em 0 0.5em 0 ;}
.link { cursor: pointer; color: "#0000ff";}
#flock .link { 
    float: left; 
    clear: none; 
    margin: 0; 
    margin: 0.5em 1em 0.5em 0em; 
    text-decoration: underline;
    }
#controls { float: left; clear: both; overflow: auto; }
#details { float: left; clear: both; }
#details p { float: left; clear: none; }
